<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="payment.css">
  <script src="payment.js" charset="utf-8"></script>
  <link rel="stylesheet" href="all.min.css">
  <link rel="stylesheet" href="fontawesome.css">
</head>

<body>
  <section>
    <div class="container-fluid">
      <div class="top-container">
        <div class="ATM_Card_front">
          <img class="ATM_img" src="ATM_chip.png" alt="">
          <div class="cards">
            <i class="fab fa-cc-mastercard fab-2x"></i>
            <i class="fab fa-cc-visa fab-3x"></i>
            <i class="fab fa-cc-amex"></i>
          </div>
          <span style="color:#fee2b3;position:absolute;font-size:1.7rem;right:1.5rem;top:1rem"><b>Pay</b><span style="color:white">ment</span></span>
          <div class="input_container">
            <input type="text" placeholder="0000" name="" value="" style="outline:none;color:white;text-align:center;width:6rem;height:1.8rem;border-style:none;background-color:#679b9b;border-radius:0.3rem;opacity:0.9">
            <input type="text" placeholder="0000" name="" value="" style="outline:none;color:white;text-align:center;width:6rem;height:1.8rem;border-style:none;background-color:#679b9b;border-radius:0.3rem;margin-left:0.01rem;opacity:0.9">
            <input type="text" placeholder="0000" name="" value="" style="outline:none;color:white;text-align:center;width:6rem;height:1.8rem;border-style:none;background-color:#679b9b;border-radius:0.3rem;margin-left:0.006rem;opacity:0.9">
            <input type="text" placeholder="0000" name="" value="" style="outline:none;color:white;text-align:center;width:6rem;height:1.8rem;border-style:none;background-color:#679b9b;border-radius:0.3rem;opacity:0.9">
          </div>
          <p style="font-size:0.8rem;line-height:1;color:#fee2b3;position:absolute;top:14rem;right:6.4rem">VALID<br>THRU</p><input class="number" type="text" placeholder="MM/YYYY"
            style="text-align: center;position:absolute;top:13.8rem;right:1rem;width:5rem;background-color:#5c2a9d;border-style:none;outline:none;color:white">
          <input class="name" type="text" placeholder="Cardholder Name" name="" value="">
        </div>
        <div class="ATM_Card_back">
          <div class="top-part">
          </div>
          <div class="middle-part">
            <input type="text" placeholder="CVV" name="" value="" style="position:absolute;right:0;width:3.8rem;height:2.5rem;background-color:#aacdbe;outline:none;border-style:none;text-align:center;color:#342b38">
          </div>
        </div>

      </div>
      <div class="rotate">
        <button type="button" class="btn btn-outline-primary"><i class="fas fa-sync-alt"></i></button>
      </div>
      <div class="payment-address">

      </div>


    </div>

  </section>


</body>

</html>
